# Build results
bin/
obj/

# Visual Studio cache / options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VSIX output
*.vsix

# NuGet
packages/
*.nupkg
project.lock.json
project.assets.json

# Deployment
pkgdef/

# Logs & temp
*.log
*.tmp
*.cache

# OS
Thumbs.db
.DS_Store